
  .card__body {
    color: dimgray;
    background-color: rgb(214, 227, 227);
  }
  
  .contend{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
  }