html,
body {
  background-color: rgb(235, 227, 227);
  margin: 0;
  padding: 0;
}
h2{
    color: rgb(17, 19, 21);
  
}
label{
    color: rgb(23, 25, 27);
}
.form-container {
    display: flex;
    align-items: center;
    width: 40%;
    height: 90%;
    background-color: rgb(214, 227, 227);
    border-radius: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 6px 6px 6px rgba(32,32,32,0.3);
  }
  .div_input{
    display: flex;
    justify-content: space-between;
  }