/* .cart-button {
  top: 6px;
  right: 16px;
  background-color: #f3efef;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
  border-radius: 1000px;
  height: 50px;
  width: 200px;
  position: relative;
}

.item-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  margin-left: 8px;
  position: absolute;
  top: 5px;
  left: 80px;
}
.imagen {
  width: 10%;
  height: 50%;
} */
